body {
    background-image: url(../img/hero-image.png);
    background-size: cover;
    font-weight: bold;
}

nav {
    background-image: rgba(0, 0, 0, .25);
}

.navbar-brand, .navbar-nav a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px black;
}

.navbar-nav li {
    margin-right: 1rem;
}

header {
    background-image: linear-gradient(to right, rgba(0,0,0,.75), rgba(0,0,0,0));
}

p {
    color: white;
    font-size: .5em;
    text-shadow: 2px 2px 4px black;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 2.5em;
}

#log-in-button {
    border-radius: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 2px solid;
    border-color: #DF04E0;

}

#sign-in-button {
    background-image: linear-gradient(to right, #05DEEB, #DF04E0);
    border-radius: 20px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#get-started-button {
    background-image: linear-gradient(to right, #05DEEB, #DF04E0);
    border-color: transparent;
    border-radius: 10px;
}

.description {
    background-color: rgb(18, 4, 40);
    height: 35rem;
}
.quote {
    background-color: rgb(18, 4, 40);
    height: 15rem;
    border: 5px solid rgb(0, 213, 255);
    border-radius: 25px;
    padding: 20px;
}

.features {
    color: white;
    background-image: url(../img/artistic-blurry-colorful-wallpaper-background.jpg);
    background-size: cover;
    height: 20rem;
}


/*
nav ul {
    display: flex;
}
/*
nav ul li { 
    list-style: none;
    margin-right: 2.5rem;
}

nav a {
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: .9rem;
    text-shadow: 2px 2px 4px black;
}

#login {
    border-style: solid;
    border-color: rgb(136, 0, 199);
    border-width: 2px;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 4rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .75);
}

#sign-up {
    background-image: linear-gradient(to right, #05DEEB, #DF04E0);
    color: black;
    font-weight: bold;
    text-shadow: none;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 4rem;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .75);
}
/*  */
/* #hero-section {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .75);
}

h1 {
    background-image: linear-gradient(to right, #05DEEB, #DF04E0);
    color: white;
    display:inline-flex;
    font-size: 3rem;
    font-style: italic;
    border-radius: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: 5rem;
    margin-left: 5rem;
}

#hero-section ul {
    background-image: linear-gradient(to right, rgba(0,0,0,.5), rgba(44, 11, 11, 0.0));
    width: 40rem;
    color: white;
    text-shadow: 2px 2px 6px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#hero-section li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-top: .5rem;
    margin-left: 8rem;
}

.description {
    color: white;
    background-image: linear-gradient(to top, rgba(17, 11, 60, 0.75), rgba(59, 9, 59, 0.75)) ;
    height: 15rem;
    padding-top: 3rem;
    display: flex;
}

blockquote {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .75);
    font-size: 1.5em;
    border: rgb(0, 155, 211) 5px solid;
    width: 40rem;
    justify-content: center;
    padding: 2rem;
    margin-left: 10rem;
    border-radius: 25px;
    height: 8rem;
}

.description img {
    margin-right: .5rem;
    height: 10rem;
    margin-left: 7rem;
}

.features {
    color: white;
    background-image: url(../img/artistic-blurry-colorful-wallpaper-background.jpg);
    background-size: cover;
    height: 25rem;
}